.main {
    height: 100%;
    background-color: #E4E3E3;
}

.container {
    background-color: #E4E3E3;
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.11vw;
    position: absolute;
    color: white;
    z-index: 40;
    font-family: "NeueMontreal-Regular";
    cursor: url('../assets/icons/cursor_white.svg') 24 24, pointer !important;
}

.vl2, .vl4, .vl6 {
    padding-left: 1.11vw;
    padding-top: 3.63vh;
}

.textLink:hover {
    text-decoration: underline;
}

.vl1 {
    width: 10%;
    height: 100%;
}

.vl2 {
    width: 17%;
    height: 100%;
}

.vl3 {
    width: 16%;
    height: 100%;
}

.vl4 {
    width: 17%;
    height: 100%;
}

.vl5 {
    width: 17%;
    height: 100%;
}

.vl6 {
    width: 15%;
    height: 100%;
}

.vl7 {
    width: 8%;
    height: 100%;
}