.container {
    position: absolute;
    width: 100%;
    background-color: #000000;
    color: #E4E3E3;
}

.content {
    padding-top: 50vh;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    border-top: 0.25vh #E4E3E3 solid;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 4.01vh;
    padding-left: 3.19vw;
    padding-right: 3.19vw;
    padding-bottom: 8vh;
}

.footerTitle {
    box-sizing: content-box;
    padding-left: 0.77vw;
}

.footerTitle1Line {
    font-size: 1.39vw;
    margin-bottom: 0.75vh;
}

.footerTitle2Line {
    display: flex;
    flex-direction: row;
    font-size: 5.28vw;
    padding-bottom: 4.01vh;
}

.arrowImage {
    margin-left: 2.08vw;
    align-self: flex-end;
}