.main {
    height: 100%;
    background-color: #E4E3E3;
}

.container {
    background-color: #E4E3E3;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.11vw;
    position: absolute;
    font-family: "NeueMontreal-Regular";
}

.vl2, .vl4, .vl6 {
    padding-left: 1.11vw;
    padding-top: 3.63vh;

}

.vl1 {
    width: 10%;
    height: 100%;
    border-right: 1px solid #C8C5C5;
}

.vl2 {
    width: 17%;
    height: 100%;
    border-right: 1px solid #C8C5C5;
}

.vl3 {
    width: 16%;
    height: 100%;
    border-right: 1px solid #C8C5C5;
}

.vl4 {
    width: 17%;
    height: 100%;
    border-right: 1px solid #C8C5C5;
}

.vl5 {
    width: 17%;
    height: 100%;
    border-right: 1px solid #C8C5C5;
}

.vl6 {
    width: 15%;
    height: 100%;
    border-right: 1px solid #C8C5C5;
}

.vl7 {
    width: 8%;
    height: 100%;
    border-right: px solid #C8C5C5;
}