.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.11vw;
    position: relative;
    font-family: "NeueMontreal-Regular";
}

.vl2, .vl4, .vl6 {
    padding-left: 1.11vw;
    padding-top: 3.63vh;

}

.vl1, .vl2, .vl3, .vl4, .vl5, .vl6, .vl7 {
    position: absolute;
    z-index: -1;
    background-color: #E4E3E3;
}

.linkText1, .linkText2, .linkText3 {
    position: absolute;
    z-index: 200 !important;
    top: 3.63vh;
}

.linkText1:hover, .linkText2:hover, .linkText3:hover {
    text-decoration: underline;
}

.linkText1 {
    left: 10.21vw;
}

.linkText2 {
    left: 43.54vw;
}

.linkText3 {
    left: 76.94vw;
}

.vl1 {
    width: 9.1vw;
    height: 100%;
    border-right: 1px solid #C8C5C5;
}

.vl2 {
    left: 9.1vw;;
    width: 16.67vw;
    height: 100%;
    border-right: 1px solid #C8C5C5;
}

.vl3 {
    left: 25.77vw;
    width: 16.67vw;
    height: 100%;
    border-right: 1px solid #C8C5C5;
}

.vl4 {
    left: 42.44vw;
    width: 16.67vw;
    height: 100%;
    border-right: 1px solid #C8C5C5;
}

.vl5 {
    left: 59.11vw;
    width: 16.67vw;
    height: 100%;
    border-right: 1px solid #C8C5C5;
}

.vl6 {
    left: 75.78vw;
    width: 16.67vw;
    height: 100%;
    border-right: 1px solid #C8C5C5;
}

.vl7 {
    left: 92.45vw;
    width: 7.55vw;
    height: 100%;
    border-right: px solid #C8C5C5;
}