.button {
    width: 29.17vw;
    height: 10.51vh;
    text-align: center;
    font-size: 4.86vw;
    border: 3px solid #E4E3E3;
    border-radius: 2.78vw;
    display: flex;
    align-items: center;
    cursor: url('../assets/icons/cursor_white_filled.svg') 24 24, pointer !important;
}

.button > .text > a {
    cursor: url('../assets/icons/cursor_white_filled.svg') 24 24, pointer !important;
}

.text {
    margin: 0 auto 2px auto;
    font-family: "NeueMontreal-Regular";
}