.container {
    position: absolute;
    margin-top: 48.31vh;
    width: 100%;
    height: 280.35vh;
    font-family: "NeueMontreal-Medium";
}

.textWrapper {
    margin-left: 13%;
    width: 72.92vw;
    z-index: 20;
    font-size: 3.33vw;
    margin-bottom: 6.51vh;
}

.imageWrapper {
    width: 100%;
    z-index: 20;
    padding-right: 0.69vw;
    padding-left: 0.69vw;
}

.locationWrapper {
    margin-left: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.5vh;
    color: #7E7D7D;
    font-size: 1.67vw;
}

.icon {
    width: 28px;
    height: 28px;
    margin-right: 0.56vw;
    background-image: url('../assets/icons/location.svg');
    background-repeat: no-repeat;
}

.contentWrapper {
    height: 155.32vh;
    width: 100%;
    background-color: #E4E3E3;
    padding-left:42.99vw;
    padding-top: 17.52vh;
}

.contentTitle {
    font-size: 8.89vw;
}

.listWrapper {
    margin-top: 14.12vh;
    margin-bottom: 43.93vh;
    font-size: 5.21vw;
    display: flex;
    flex-direction: column;
}

.listEl {
    border-top: 5px solid black;
    width: 48.19vw;
    padding-top: 2vh;
    padding-right: 0.21vw;
    padding-bottom:  2vh;
    padding-left: 0.21vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.listEl:last-of-type {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    width: 48.19vw;
    padding-top: 2vh;
    padding-right: 0.21vw;
    padding-bottom:  2vh;
    padding-left: 0.21vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listElText {
    flex-basis: 80%;
}

.listElImage {
    margin-left: 0;
    flex-basis: 15%;
}

.smallImage {
    width: 0px;
    height: 0px;
    background-image: url('../assets/images/your_gym/small.svg');
    background-repeat: no-repeat;
}

.listEl:hover > .smallImage {
    transition: width 0.3s ease-in;
    transition: height 0.3s ease-in;
    width: 134px;
    height: 67px;
}

.listEl:hover > .listElText {
    transition: flex-basis 0.3s ease;
    flex-basis: 60%;
}

.listElImage {
    background-image: url('../assets/icons/arrow-horizontal.svg');
    width: 95px;
    height: 95px;
    background-repeat: no-repeat;
}

.listEl:hover > .listElImage {
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out; /* Equal to rotateZ(45deg) */
}

.listEl:hover {
    cursor: url('../assets/icons/cursor2.svg') 24 24, pointer;
}

