.container {
    margin-top: 36.80vh;
    width: 100%;
    padding-bottom: 20vh;
}

.content {
    position: relative;
}

.listTitle {
    margin-left: 43.54vw;
    font-size: 8.89vw;
    font-family: "NeueMontreal-Medium";
}

.listWrapper {
    padding-right: 0.69vw;
    margin-top: 5.38vh;
    margin-left: 43.54vw;
}

.listEl {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 17.52vh;
    font-family: "NeueMontreal-Regular";
}

.listElTitle {
    width: 55.35vw;
    margin-top: 4.4vh;
    border-bottom: 0.38vh #000000 solid;
    display: flex;
    flex-direction: row;
    font-size: 5.21vw;
    font-weight: normal;
}

.listElText {
    flex-basis: 87%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.supTitle {
    font-size: 1.67vw;
    font-weight: normal;
    margin-top: 2vh;
    margin-left: 0.3vw;
}



.listElTitle:hover > .listElImage {
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out;
}

.listElTitle:hover {
    cursor: url('../assets/icons/cursor2.svg') 24 24, pointer;
}

.listElImage {
    margin-left: 0;
    flex-basis: 13%;
}

.listElImage {
    background-image: url('../assets/icons/arrow-horizontal.svg');
    width: 95px;
    height: 95px;
    background-repeat: no-repeat;
}

.listEl:hover > .listElImage {
    transform: rotate(-45deg);
    transition: transform 0.3s ease-in-out;
}