.container {
    top: 36.80vh;
    position:absolute;
    width: 100%;
}

.content {
    position: relative;
}

.listTitle {
    margin-left: 43.54vw;
    font-size: 8.89vw;
}

.listWrapper {
    padding-right: 0.69vw;
    margin-top: 5.38vh;
    margin-left: 43.54vw;
}

.listEl {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 17.52vh;
}

.listElTitle {
    width: 55.35vw;
    margin-top: 4.4vh;
    border-bottom: 0.38vh #000000 solid;
    display: flex;
    flex-direction: row;
    font-size: 5.21vw;
    font-weight: normal;
}

.supTitle {
    font-size: 1.67vw;
    font-weight: normal;
    margin-top: 2vh;
    margin-left: 0.3vw;
    flex: 1;
}